build
dist
/node_modules
.DS_Store
sassdoc
/src//environments
/idea
/.idea

package-lock.json

/environments/environment.prod.ts

/src/assets/layout/css/brown/layout-*.css
/src/assets/layout/css/cyan/layout-*.css
/src/assets/layout/css/green/layout-*.css
/src/assets/layout/css/indigo/layout-*.css
/src/assets/layout/css/lime/layout-*.css
/src/assets/layout/css/magenta/layout-*.css
/src/assets/layout/css/orange/layout-*.css
/src/assets/layout/css/purple/layout-*.css
/src/assets/layout/css/red/layout-*.css
/src/assets/layout/css/teal/layout-*.css
/src/assets/layout/css/yellow/layout-*.css

/src/assets/theme/*/theme-*.css
/src/assets/theme/designer
/src/assets/theme/_vendor_extensions.scss
